.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}
.tamilnaduimg{
  display: block;
  height: 200px;
  width: 300px;
}



.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.circle-container {
  margin-top: 0px;
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.circle-container:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 5px;
  border-radius: 50%;
  background: #000;
  bottom: 0;
  opacity: 0.4;
  left: 50%;
  animation: shadow 2s linear infinite;
}
.circle-container:nth-child(2):after {
  animation-delay: -0.3s;
}
.circle-container:nth-child(3):after {
  animation-delay: -0.6s;
}
.circle {
  width: 15px;
  height: 15px;
  background: #fff;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  position: absolute;
  animation: anim 2s linear infinite;
}
.circle-container:nth-child(2) .circle {
  animation-delay: -0.3s;
}
.circle-container:nth-child(3) .circle {
  animation-delay: -0.6s;
}
@keyframes anim {
  0% {
    transform-origin: 400% 50%;
  }
  50% {
    transform: rotate(360deg);
    transform-origin: 400% 50%;
  }
  50.1% {
    transform: rotate(0);
    transform-origin: -300% 50%;
  }
  100% {
    transform: rotate(-360deg);
    transform-origin: -300% 50%;
  }
}
@keyframes shadow {
  0% {
    
  }
  12.5% {
    transform: translate(50px) scale(0.6);
  }
  25% {
    transform: translate(120px);
  }
  37.5% {
    transform: translate(50px) scale(1.4);
  }
  50% {
    transform: translate(0px);
  }
  62.5% {
    transform: translate(-50px) scale(0.6);
  }
  75% {
    transform: translate(-120px);
  }
  87.5% {
    transform: translate(-50px) scale(1.4);
  }
  100% {
    transform: translate(0px);
  }
}








body{
  margin: 0;
}

.headernav{
  margin-top: 0px;
  text-align: center;
  
}
.headernavspan{
  display: inline-block;
  color: black;
  padding: .5em;
  cursor: pointer;
  font-family: 'Exo 2', sans-serif;

  font-weight: 480;
  /* font-family: 'Muli', sans-serif; */
  /* font-family: 'Raleway', sans-serif; */
  /* font-family: 'Open Sans', sans-serif; */
  text-align: center;
  font-size: 14px;
}
.headernavspan::before{
  content: "";
  width: 0%;
  height: 3px;
  display: block;
  background-color:black;
  margin-bottom: 5px;
}
.headernavspan:hover::before{
  width: 100%;
  transition: all .5s;
}
.home{
  text-align: center;
  color: white;
}
.bgcolorcomponent{
  background-color: #FFE528;
  height: 100%;
  width: 100%;
}

.bgimg{
margin-top:0px ;
widows: 160px;
height: 150px;

}

.travelpng{
  height: 150px;
margin-bottom: 110px;
}
.planquatation{
margin-top: 190px;
text-align: center;
font-size: 26px;
/* opacity: 0.9; */
font-family: 'Cormorant Garamond', serif;
}
.btnquatation{
  cursor: pointer;
  height: 50px;
  width: 100px;
  font-size: 12px;
  border-radius: 10px;
  border:1px solid  #f3e525;
  color: rgb(0, 0, 0);
  background-color: #fff;
  font-family: 'Exo 2', sans-serif;

  margin-right: 12px;
  margin-left: 5.5px;
}
.btnquatation:focus{
  outline: none;
}