





/* flip card */
.flip-card {
  background-color: transparent;
  width: 170px;
  height: 140px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 10px;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;

}

.flip-card-front {
  background-color: rgb(22, 21, 21);
  color: black;
}

.flip-card-back {
  border-radius: 10px;
  background-color: #000000;
  color: white;
  transform: rotateY(180deg);
}
.tamilnaduimg{
  display: block;
  height: 140px;
  width: 170px;
  border-radius: 10px;
}


/* //animation ball */
.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.circle-container {
  margin-top: 0px;
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.circle-container:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 5px;
  border-radius: 50%;
  background: #000;
  bottom: 0;
  opacity: 0.4;
  left: 50%;
  animation: shadow 2s linear infinite;
}
.circle-container:nth-child(2):after {
  animation-delay: -0.3s;
}
.circle-container:nth-child(3):after {
  animation-delay: -0.6s;
}
.circle {
  width: 15px;
  height: 15px;
  background: #fff;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  position: absolute;
  animation: anim 2s linear infinite;
}
.circle-container:nth-child(2) .circle {
  animation-delay: -0.3s;
}
.circle-container:nth-child(3) .circle {
  animation-delay: -0.6s;
}
@keyframes anim {
  0% {
    transform-origin: 400% 50%;
  }
  50% {
    transform: rotate(360deg);
    transform-origin: 400% 50%;
  }
  50.1% {
    transform: rotate(0);
    transform-origin: -300% 50%;
  }
  100% {
    transform: rotate(-360deg);
    transform-origin: -300% 50%;
  }
}
@keyframes shadow {
  0% {
    
  }
  12.5% {
    transform: translate(50px) scale(0.6);
  }
  25% {
    transform: translate(120px);
  }
  37.5% {
    transform: translate(50px) scale(1.4);
  }
  50% {
    transform: translate(0px);
  }
  62.5% {
    transform: translate(-50px) scale(0.6);
  }
  75% {
    transform: translate(-120px);
  }
  87.5% {
    transform: translate(-50px) scale(1.4);
  }
  100% {
    transform: translate(0px);
  }
}








body{
  margin: 0;
}

.headernav{
  margin-top: 0px;
  text-align: center;
  
}
.headernavspan{
  display: inline-block;
  color: black;
  padding: .5em;
  cursor: pointer;
  font-family: 'Exo 2', sans-serif;
  font-weight: 480;
  text-align: center;
  font-size: 14px;
}
.headernavspan::before{
  content: "";
  width: 0%;
  height: 3px;
  display: block;
  background-color:black;
  margin-bottom: 5px;
}
.headernavspan:hover::before{
  width: 100%;
  transition: all .5s;
}
.home{
  text-align: center;
  color: white;
}
.bgcolorcomponent{
  background-color: #FFE528;
  height: 100%;
  width: 100%;
}

.bgimg{
margin-top:0px ;
widows: 160px;
height: 150px;

}

.travelpng{
  height: 150px;
margin-bottom: 110px;
}
.planquatation{
margin-top: 190px;
text-align: center;
font-size: 26px;
font-family: 'Cormorant Garamond', serif;
color:black;
/* font-weight: 500; */
}

.btnquatation{
  cursor: pointer;
  height: 50px;
  width: 100px;
  font-size: 12px;
  border-radius: 10px;
  border:1px solid  #f3e525;
  color: rgb(0, 0, 0);
  background-color: #fff;
  font-family: 'Exo 2', sans-serif;
  margin-right: 12px;
  margin-left: 5.5px;
}
.btnquatation:focus{
  outline: none;
}
.btnquatation:hover{
  background-color: yellow;
}
.culturetrip{
  text-align: center;
  color: #fff;
  font-family: 'Cormorant Garamond', serif;
  font-size: 17px;
  /* font-weight: 500; */
}
.btntamilnadudevotional{
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid rgb(255, 255, 160);
  height: 50px;
  width: 120px;
  font-family: 'Exo 2', sans-serif;
  font-size: 13px;
  cursor: pointer;
}
.btntamilnadudevotional:focus{
  outline: none;
}
.btntamilnadudevotional:hover{
  background-color: yellow;
}


.devotionalh1{
  font-family: 'Cormorant Garamond', serif;
  text-align: center ;
  color: #fff;
}

.footer{
  background-color:#d8d6d6;
  height: 100%;
}

 .bgimgfooter{
  height: 50px;
}
.bgimgfooter1{
  height:150px;
  width: 130px;
  opacity: 1;
  bottom: 0;
  position: fixed;
  left: 5px;
} 
@media(max-width: 500px){
  .bgimgfooter1{
    height:99px;
    width:85px;
    opacity: 1;
    bottom: 0;
    position: fixed;
    left:0px;
  }
}



.ftrhome{
  text-align: center;
  font-size: 13px;
  cursor: pointer;
  padding: .5em;
  font-family: 'Exo 2', sans-serif;
}

.devimg{
  height: 150px;
  }

.tndevotional{
  text-align: center;
  font-size: 26px;
  /* font-weight: 600; */
  font-family: 'Cormorant Garamond', serif;
}
.enqbook{
  height: 35px;
  width:120px;
  font-size: 18px;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  color: #fff;
  border: 1px solid rgb(67, 67, 196);
  background-color: rgb(67, 67, 196);
  font-family: 'Noto Sans JP', sans-serif;
}
.exceptionalquality{
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  font-size: 18px;
  font-weight: 800px;
}
@media(max-width: 500px){
  .exceptionalquality{
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 12px;
    font-weight: 600;
  }
}

.crafting{
  font-size: 28px;
  color: #fff;
  font-family: 'Playfair Display', serif;
 text-align: center;
}
@media(max-width:500px){
  .crafting{
    font-size: 20px;
  
  }
}
.learnbtn{
  height: 50px;
  width:120px;
  background-color:rgb(238, 234, 234);
  border-radius: 5px;
  border: 2px solid #484848;
  color:#484848;
  padding: 1em;
  cursor: pointer;
}
.learnbtn:focus{
  outline: none;
}
@media(max-width:500px){
  .learnbtn{
  
    cursor: pointer;
    
  }
}
.footer{
  margin-top: 0;
  height:100px;
  color:#9e9a9a
}
.ftrp{
  margin: 0;
  text-align: center;
  color: #000;
  font-family: 'Exo 2', sans-serif;
  font-size: 14px;
  padding: 1em;
}
.linkfb{
  color: #c0b9b9;
}
.linkfb a{
  color: rgb(100, 97, 97);
  padding: 1em;
}
.copyryt{
  font-size: 10px;
}
.copyryt a{
  color:rgb(58, 56, 56)
}

.formstyle{
  background-color: white;
}

.gallery{
 
  height:150px;
  width:200px;
  filter: grayscale(100%);
  transition: .8s;
}
.gallery:hover{
  filter: grayscale(0%);
  transform: scale(1.1);
}
.mapnav{
  font-family: 'Noto Sans JP', sans-serif;
  color: #fff;
  font-size: 17px;
}
.instruction{
  font-size: 14px;
  font-style: 'Noto Sans JP', sans-serif;
  padding: 10px;
}
.gallery1{
    height:100px;
    width:150px;
}
.foods{
  /* font-style: 'Noto Sans JP', sans-serif; */
   font-family: 'Cormorant Garamond', serif;
  font-size: 20px;
}

.popexplore{
  background-color: #fff;
  border-radius: 20px;
}

.logo{
height: 37px;
}

.adv{
  height:180px;
  width:260px;
}
.adventure{

  font-family: 'Exo 2', sans-serif;
  font-size: 13px;
  /* font-family: 'PT Sans Narrow', sans-serif; */
  opacity: 1;
}
/* about */
.aboutPage{
  text-align: center

}
.h1about{
  text-align: center;
  color: #f2fcfe;
  font-size: 28px;
  font-family: 'Raleway', sans-serif;
  margin-top: 30px;
}
.h2about{
  text-align: center;
  color:black;
  font-size: 15px;
  font-family: 'Comic Neue', cursive;
  margin-top: 30px;
}
.discover{
  text-align: center;
  margin-top: 40px;
}
.span1{
  
  font-size: 35px;
  font-family: 'Raleway', sans-serif;
  color: white;
  margin-right: 50px;
  text-align: center; 
  display: block;
  width: 100%;
  font-weight: 400;
}

.strategies{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.strategies .p-30px{
  padding:30px;
}
.strategies li{
  list-style: none;
  text-align: center;
}
.li1{
  color: black;
  font-size: 17px;
  font-weight: 250;
}
.formvalid{
  background-color: white;
}
.board{
  height: 245px;
  width: 220px;
}
.developers{  
  color:rgb(24, 23, 23);
  font-size: 22px;
  text-transform: uppercase;
  animation: text 3s 1;
  font-family: 'Exo 2', sans-serif;

  margin: 0;
  
}


@keyframes text{
  0%{
  color:rgb(255, 255, 255);
  margin-bottom: -40px;  
}
30%{
  letter: spacing 25px; 
  margin-bottom: -10px;
}
85%{
letter-spacing: 8px;
margin-bottom: -10px;

}
}
.devimg{
  height: 300px;
  width: auto;
  display: flex;
}
/* .team-area{
  display: flex;
 width:60%;
  justify-content: space-around;
} */
